.food {
  height: 400px;
  width: 50%;
  margin-left: 22%;
  border-radius: 50px;
  /* padding: 20px; */

}
.products {
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  border-radius: 15%;
}
.products img {
    width: 200px;
    height: 200px;
}